
<div class="row header">

            <div class="col-lg-3 tarjetas">
                <div class="card">
                    <div class="card-body">
                       <img class="img-fluid" width="100" height="100" src="../../../assets/img/notas.png">
                        <label class="titulo2">Lee con atención todas las preguntas</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 tarjetas">
                <div class="card">
                    <div class="card-body ">
                            <img class="img-fluid" width="100" height="100" src="../../../assets/img/check.png">
                            <label class="titulo2">Responde Honestamente</label>
                        </div>
                </div>
            </div>
            <div class="col-lg-3 tarjetas">
                <div class="card">
                    <div class="card-body">
                            <img class="img-fluid" width="100" height="100" src="../../../assets/img/required.png">
                            <label class="titulo2">No dejes ninguna pregunta sin responder</label>
                    </div>
                </div>
            </div>
            
          
      
</div> 
